<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cyotek.CircularBuffer" version="1.0.0.0" targetFramework="net452" />
  <package id="Ionic.Zlib" version="1.9.1.5" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.9" targetFramework="net452" />
  <package id="NLog" version="4.5.0" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.8.6.7" targetFramework="net452" />
</packages>