<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logconsole" xsi:type="Console" layout="[${date:format=dd MMM yyyy HH\:mm\:ss.fff}] [${uppercase:${level}}] ${message}" />
    <!--
	<target xsi:type="ColoredConsole" name="packets" layout="${message}">
	  <highlight-row
		condition="equals('${logger}', Crystal.*') and equals('${event-context:item=color}', '6')"
		backgroundColor="DarkYellow" foregroundColor="NoChange" />      
    </target>
	-->
  </targets>
  <rules>
    <logger name='Crystal.*' minlevel='Trace' writeTo='logconsole' />
    <!--<logger name='Crystal.*' minlevel='Debug' writeTo='logconsole' /> -->
  </rules>

</nlog>